<%= form_for @user, url: 'accounting_info', html: { method: :put } do |f| %>
<div class="" style="width:60%; margin:0 auto;">
  <div class="form-group">
    <%= f.label :image, 'Image' %>
    <%= f.file_field :image, multiple: true, name: "attachment[file]" %>
  </div>
</div>
<% end %>
