<div style="width:30%;margin:0 auto">
  <div class="form-group">
    <a href="<%=@month%>/in" class="btn btn-default"> Notas de Entrada </a>
    <a href="<%=@month%>/out" class="btn btn-default"> Notas de Saída </a>
  </div>
</div>
