<form action="create" method="POST">
  <input type="text" name="user[email]" value="" placeholder="email">
  <input type="text" name="user[company]" value="" placeholder="company">
  <input type="text" name="user[cnpj]" value="" placeholder="cnpj">
  <input type="text" name="user[cpf]" value="" placeholder="cpf">
  <input type="text" name="user[telephone]" value="" placeholder="telephone">
  <input type="hidden" name="user[password]" value="" placeholder="telephone">
  <input type="hidden" name="user[password_confirmation]" value="" placeholder="telephone">
  <button type="submit" name="button"> Enviar </button>
</form>
