  <div style="width: 50%; margin: 0 auto;">

    <div class="jumbotron" style="text-align: center;">
      <h2>Suas informações:</h2>
      <br>
      <p>Empresa: <%=@user.company%></p>
      <p>CNPJ: <%=@user.cnpj%></p>
      <p>CPF: <%=@user.cpf%></p>
      <p>Telefone: <%=@user.telephone%></p>
    </div>

  </div>
