//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$open-sans: 'Open Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto');
$roboto: 'Roboto', sans-serif;

//colors
$transparent: rgba(0,0,0,0);
$cyan: #00CCED;
$lighter-cyan: #9ef0ff;
$logo-gray: #333333;
