<div class="events-page-container">
  <h2>Responsabilidades Fluiu</h2>
  <br>

  <div class="events-box">
    <% @agent_events.each do |e| %>
      <div class="event-name">
        <p>Até o dia <%=e.day%></p>
      </div>
      <div class="event-description">
        <p><%=e.event%></p>
      </div>
    <% end %>
  </div>


  <h2>Responsabilidades Cliente</h2>
  <br>
  <div class="events-box">
    <% @client_events.each do |e| %>
      <div class="event-name">
        <p>Até o dia <%=e.day%></p>
      </div>
      <div class="event-description">
        <p><%=e.event%></p>
      </div>
    <% end %>
  </div>
</div>
