<!-- <div style="width: 80%; margin: 0 auto;">
  <h2>Clientes</h2>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.company %></td>
        <td>  <td> <a href="/users/<%=user.id%>/my_files">Documentos</a> </td></td>
        <td> <a href="/users/<%=user.id%>/invoices_index">Histórico</a> </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <a href="fiscal/canvass" class="btn btn-info">Apuração</a>

</div> -->

<div class="home-page-container">
  <!-- <h1>oi</h1> -->
  <a href="/users/historic" class="info-box" >
    <div class="info-box-container">
      <h1 class="info-box-title" style="text-decoration: none;">Histórico</h1>
    </div>
  </a>
</div>
