<div style="width: 80%; margin: 0 auto;">
  <h2>Ainda não enviaram.</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Empresa</th>
        <th></th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <% @not_sent.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.company %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <a href="remind_not_sent_users" class="btn btn-info">Enviar solicitação de envio de notas fiscais</a>

</div>
