<!-- <div class="container" style="">
  <div class="row">
    <div class="col">
      <a href="users/<%=@id%>/accounting_info" class="btn btn-default"> Rotinas Contábeis </a>
    </div>

  </div>

</div> -->

<div class="home-page-container">
  <a href="users/<%=@id%>/accounting_info" class="info-box">
    <div class="info-box-container">
      <h1 class="info-box-title" style="text-decoration: none;">Rotinas Contábeis</h1>
    </div>
  </a>
  <a href="#" class="info-box">
    <div class="info-box-container">
      <h1 class="info-box-title" style="text-decoration: none;">Meus Documentos</h1>
    </div>
  </a>
  <div class="ib-secondary">
    <div class="ib-vertical-div">
      <div class="ib-vertical-div">
          <h4>Projeção de gastos:</h4>
      </div>
      <div class="ib-vertical-div">
        <h4 style="color: #930000;">R$ <%=@total_out.round(2)%></h4>
      </div>
    </div>
    <div class="ib-vertical-div">
      <div class="ib-vertical-div">
        <h4>Projeção de recebimentos:</h4>
      </div>
      <div class="ib-vertical-div">
        <h4 style="color: green">R$ <%=@total_in.round(2)%></h4>
      </div>
    </div>
  </div>
</div>
