.file-container {
  display: flex;

  margin-right: 1em;
  margin-bottom: 3em;
  width: 100%;
  height: 20vh;

  .file-header {
    width: 20%;
    display: inline-grid;
      .file-icon {
        height: 70%;
        width: 100%;

        .icon {
          display: block;
          height: 6em;
          width: 40%;
          margin: 0 auto;
          margin-bottom: 1em;
        }
      }

      .file-name{
        height: 30%;
        width: 100%;
        text-align: center;
      }
  }

  .file-content {
    display: inline-block;
    margin-left: 2em;
    width: 70%;
    height: 80%;
    margin: 0 auto;
    margin-top: 1em;
  }

}
