@import "./base/variables";

.login-component {
  width: 60%;

  margin: 0 auto;
  margin-top: 4em;
  // background-color: red;
  background-color: white;

  .logo {
    display: grid;

    width: 60%;
    margin: 0 auto;

    .resize-image {
      display: flex;

      width: 60%;

      margin: 0 auto;
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }

  .lc-field-set {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;

    &.-margin-bottom {
      margin-bottom: 4em;
    }


    >.lc-label {
      font-family: $roboto;
      color: $logo-gray;
      font-size: 1.5em;
      font-weight: normal;
    }

    >.lc-text-field {
      display: flex;

      width: 100%;
      border-width: 1px;
      padding-left: 2em;
      border-color: #9E9E9E;

      height: 4em;
    }

    >.lc-button {
      width: 100%;
      text-align: center;
      font-family: $roboto;
      color: white;
      font-size: 2em;
      font-weight: normal;

      background-color: $cyan;
      color: white;
      border: none;
      height: 3em;

    }
  }
}

.login-component.lc-field-set.lc-button:hover{
  background-color: red;
}
