<p>Olá <%= @resource.email %>!</p>

<p>Clique no link abaixo para alterar sua senha.</p>

<p><%= link_to 'Mude minha senha.', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não requisitou a mudança de senha, por favor, ignore este email.</p>
<p>Sua senha não será alterada até você acessar o link e criar uma nova senha.</p>
